name: Runner Sanity Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t devops-lab:ci

      - name: Run container
        run: |
          docker run --rm devops-lab:ci
          docker ps
